<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.predictorsd.geodesycalculator">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/earthicon"
        android:label="@string/app_title"
        android:roundIcon="@mipmap/earthicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ArgACT3Activity">
            <intent-filter>
                <action android:name="CGCS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ArgACT2Activity" >
            <intent-filter>
                <action android:name="WGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ArgACT1Activity">
            <intent-filter>
                <action android:name="1975" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ErrorAct4Activity">
            <intent-filter>
                <action android:name="e_ACT4" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ErrorAct3Activity">
            <intent-filter>
                <action android:name="e_ACT3" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ErrorAct2Activity">
            <intent-filter>
                <action android:name="e_ACT2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ErrorAct1Activity">
            <intent-filter>
                <action android:name="e_ACT1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ArgumentActivity">
            <intent-filter>
                <action android:name="argument" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ErrorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_error"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="error" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>